table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    border: 1px solid #aaa;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: white;
}

.main-content p {
    padding: 20px;
}

.back {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}