* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 1rem;
}

.header-container .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container .header-content .logo {
    color: white;
    text-decoration: none;
}

.header-container .header-content .login-register {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-container .header-content .login-register .username {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
}

main .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

main .main-content div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

main .main-content .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

main .main-content .form-container label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

main .main-content .form-container .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    border: 1px solid #aaa;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: white;
}

footer {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    font-weight: bold;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #45a049;
    }
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

.btn-back {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #ccc;
    }
}

.btn-function {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    font-weight: bold;
    background-color: #2d87ad;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #1f5f7a;
    }
}
